# Code Owners for CCBar
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for all files
* @laomst

# Source code
/src/ @laomst

# Documentation
/docs/ @laomst
